{% block standard404Errorpage %}
    <h1>{{ "title"|trans }}</h1>
    <h3 class="h3">{{ "error.404.title"|trans }} (404)</h3>
    <p>{{ "error.404.description"|trans|nl2br }}</p>
    {{ block('standardAlternatives') }}
    {{ block('sorryText') }}
{% endblock %}

{% block standard500Errorpage %}
    <h1>{{ "title"|trans }}</h1>
    <h3 class="h3">{{ "error.500.title"|trans }} (500)</h3>
    <p>{{ "error.500.description"|trans|nl2br }}</p>
    {{ block('standardAlternatives') }}
    {{ block('sorryText') }}
{% endblock %}

{% block standard403Errorpage %}
    <h1>{{ "title"|trans }}</h1>
    <h3 class="h3">{{ "error.403.title"|trans }} (403)</h3>
    <p>{{ "error.403.description"|trans|nl2br }}</p>
    {{ block('standardAlternatives') }}
    {{ block('sorryText') }}
{% endblock %}

{% block standardAlternatives %}
    <h2>{{ "alternatives.title"|trans }}?</h2>
    <p>{{ "alternatives.description"|trans }}</p>
    <ul class="bulleted">
        <li>{{ block('actionBack') }}</li>
        <li>{{ block('actionZurStartseiteWechseln') }}</li>
        <li>{{ block('actionGoogleSearch') }}</li>
        <li>{{ block('actionKontaktAufnehmen') }}</li>
    </ul>
{% endblock %}

{% block actionBack %}
    {% set link %}<a href="#" onclick="window.history.back(); return false;">{% endset %}
    {% set endlink %}</a>{% endset %}
    {{ "alternatives.action.back"|trans({'%link%':link, '%endlink%': endlink})|raw }}
{% endblock %}

{% block actionZurStartseiteWechseln %}
    {% set link %}<a href="{{ startseitenUrl | default('/') }}">{% endset %}
    {% set endlink %}</a>{% endset %}
    {{ "alternatives.action.start"|trans({'%link%':link, '%endlink%': endlink})|raw }}
{% endblock %}

{% block actionGoogleSearch %}
    {{ "alternatives.action.search"|trans }}
    <form method="get" action="http://www.google.com/search" onsubmit="document.getElementById('search-query').value += ' site:' + document.domain;">
        <fieldset><input type="text" name="q" id="search-query" /><button type="submit" class="button">{{ "search"|trans }}</button></fieldset>
    </form>
{% endblock %}

{% block actionKontaktAufnehmen %}
    {% set link %}<a href="{{ impressumUrl | default('/impressum') }}">{% endset %}
    {% set endlink %}</a>{% endset %}
    {{ "alternatives.action.contact"|trans({'%link%':link, '%endlink%': endlink})|raw }}
{% endblock %}

{% block sorryText %}
    <h3 class="h3">{{ "sorryText"|trans }}</h3>
{% endblock %}