{%- block webfactory_exceptions_error_code -%}
    {{ exception.getStatusCode }}
{%- endblock -%}

{%- block webfactory_exceptions_error_title -%}
    {{ ("error." ~ exception.getStatusCode ~ ".title")|trans({}, 'webfactory-exception-bundle') }}
{%- endblock -%}

{%- block webfactory_exceptions_error_description -%}
    {{ ("error." ~ exception.getStatusCode ~ ".description")|trans({}, 'webfactory-exception-bundle')|nl2br }}
{%- endblock -%}

{%- block webfactory_exceptions_error_headline -%}
    {{ block('webfactory_exceptions_error_title') }} ({{ block('webfactory_exceptions_error_code') }})
{%- endblock -%}

{%- block webfactory_exceptions_sorry_title -%}
    {{ ("sorry.title")|trans({}, 'webfactory-exception-bundle') }}
{%- endblock -%}

{%- block webfactory_exceptions_sorry_footer -%}
    {{ ("sorry.footer")|trans({}, 'webfactory-exception-bundle')|nl2br }}
{%- endblock -%}

{% block standardExceptionPage %}
    <h1>{{ block('webfactory_exceptions_error_headline') }}</h1>
    <h2 class="h2">{{ block('webfactory_exceptions_sorry_title') }}</h2>
    <p>{{ block('webfactory_exceptions_error_description') }}</p>

    {{ block('standardAlternatives') }}

    <strong>{{ block('webfactory_exceptions_sorry_footer') }}</strong>
{% endblock %}

{% block standardAlternatives %}
    <h2 class="h2">{{ "alternatives.title"|trans({},'webfactory-exception-bundle') }}</h2>
    <p>{{ "alternatives.description"|trans({},'webfactory-exception-bundle') }}</p>
    <ul class="bulleted">
        <li>{{ block('actionBack') }}</li>
        <li>{{ block('actionZurStartseiteWechseln') }}</li>
        <li>{{ block('actionGoogleSearch') }}</li>
        <li>{{ block('actionKontaktAufnehmen') }}</li>
    </ul>
{% endblock %}

{% block actionBack %}
    {% set link %}<a href="#" onclick="window.history.back(); return false;">{% endset %}
    {% set endlink %}</a>{% endset %}
    {{ "alternatives.action.back"|trans({'%link%':link, '%endlink%': endlink},'webfactory-exception-bundle')|raw }}
{% endblock %}

{% block actionZurStartseiteWechseln %}
    {% set link %}<a href="{{ startseiteUrl | default('/') }}">{% endset %}
    {% set endlink %}</a>{% endset %}
    {{ "alternatives.action.start"|trans({'%link%':link, '%endlink%': endlink},'webfactory-exception-bundle')|raw }}
{% endblock %}

{% block actionGoogleSearch %}
    {{ "alternatives.action.search.description"|trans({},'webfactory-exception-bundle') }}
    <form method="get" action="http://www.google.com/search" onsubmit="document.getElementById('search-query').value += ' site:' + document.domain;">
        <fieldset><input type="text" name="q" id="search-query" /><button type="submit" class="button">{{ "alternatives.action.search.button"|trans({},'webfactory-exception-bundle') }}</button></fieldset>
    </form>
{% endblock %}

{% block actionKontaktAufnehmen %}
    {% set link %}<a href="{{ kontaktUrl | default('#') }}">{% endset %}
    {% set endlink %}</a>{% endset %}
    {{ "alternatives.action.contact"|trans({'%link%':link, '%endlink%': endlink},'webfactory-exception-bundle')|raw }}
{% endblock %}

