{% block standard404Errorpage %}
    <h1>Entschuldigung!</h1>
    <h3 class="h3">Dokument nicht gefunden (404)</h3>
    <p>Leider konnte das von Ihnen gewünschte Dokument nicht gefunden werden.<br />Möglicherweise wurde es inzwischen vom Server entfernt oder ist nicht mehr abrufbar.</p>
    {{ block('standardAlternatives') }}
    {{ block('sorryText') }}
{% endblock %}

{% block standard500Errorpage %}
    <h1>Entschuldigung!</h1>
    <h3 class="h3">Interner Serverfehler (500)</h3>
    <p>Beim Generieren der Seite ist ein Fehler aufgetreten.<br />Alle zum Beheben des Fehlers nötigen Informationen wurden aufgezeichnet und der zuständigen Stelle zugeleitet.</p>
    {{ block('standardAlternatives') }}
    {{ block('sorryText') }}
{% endblock %}

{% block standard403Errorpage %}
    <h1>Entschuldigung!</h1>
    <p>
        <strong>Zugriff verweigert.</strong>
    </p>
    <div id="explanation">
        <p>Sie besitzen nicht die erforderlichen Berechtigungen, um diese Seite aufzurufen.</p>
    </div>
    {{ block('standardAlternatives') }}
    {{ block('sorryText') }}
{% endblock %}

{% block standardAlternatives %}
    <h2>Was nun?</h2>
    <p>Sie können ...</p>
    <ul class="bulleted">
        <li>{{ block('actionBack') }}</li>
        <li>{{ block('actionZurStartseiteWechseln') }}</li>
        <li>{{ block('actionGoogleSearch') }}</li>
        <li>{{ block('actionKontaktAufnehmen') }}</li>
    </ul>
{% endblock %}

{% block actionBack %}
    zurück zur <a href="#" onclick="//<![CDATA[
    window.history.back(); return false;
    //]]>">vorherigen Seite</a> gehen,
{% endblock %}

{% block actionZurStartseiteWechseln %}
    zur <a href="{{ startseitenUrl | default('/') }}">Startseite</a> wechseln,
{% endblock %}

{% block actionGoogleSearch %}
    unsere Website nach einem Suchbegriff durchsuchen (via Google)
    <form method="get" action="http://www.google.com/search" onsubmit="//<![CDATA[
        document.getElementById('search-query').value += ' site:' + document.domain;
        //]]>">
        <fieldset><input type="text" name="q" id="search-query" /><button type="submit" class="button">Suchen</button></fieldset>
    </form>
{% endblock %}

{% block actionKontaktAufnehmen %}
    oder <a href="{{ impressumUrl | default('/impressum') }}">Kontakt mit der Redaktion</a> aufnehmen.
{% endblock %}

{% block sorryText %}
    <h3 class="h3">Wir entschuldigen uns für die Unannehmlichkeiten!</h3>
{% endblock %}